.header {
    width: 68.75%;
    height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 45px auto 40px;
    border-bottom: 1px solid RGB(84, 84, 84, .7);
}

@media screen and (max-width: 550px) {
    .header {
        margin: 28px 0 42px 0;
        width: 100%;
    }
}