.profile__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
}

@media screen and (max-width: 960px) {
    .profile__add-button {
        margin-top: 36px;
        width: 282px;
        height: 50px;
    }
}

.profile__add-button:hover {
    color: #FFFFFF;
    opacity: 0.6;
    transition: 0.5s ease-in;
    cursor: pointer;
}