.popup__submit {
    width: 83.25%;
    height: 50px;
    margin: 0 36px 37px;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .popup__submit {
        width: 84.39%;
        margin: 45px 22px 25px 22px;
    }
}

.popup__submit:hover {
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
    transition: 0.5s ease-in;
    cursor: pointer;
}