.element {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #ffffff;
}
.element:last-child {
    margin-bottom: 66px;
}

@media screen and (max-width: 550px) {
    .element:last-child {
      margin-bottom: 48px;
    }
  
  }
